<div class="wrapper">
  <button type="button" name="button" class="add add-position" {{action 'addClass'}}>Add Class</button>
  <div class="confirm-delete color-white">
    <span class="ask">Are you sure you wish to delete this Class?</span>
    <br>
    <div class="center">
      <button type="button" name="button" {{action 'deleteModel' param=id}} class="btn-yes">Yes</button>
      <button type="button" name="button" {{action 'cancelDeleteModel'}} class="btn-no">No</button>
    </div>
  </div>
  <div class="notification-delete">
    <span>{{inline-svg "checkmark.svg" class='checkmark'}} Class successfully deleted! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="cancel-notification">x</span></span>
  </div>
  {{general-table model=model column1="Name" column2="Department" column3="Teacher" column4="Students" confirmDelete='confirmDelete' editClass='editClass' param=id isClass=isClass}}
</div>

{{outlet}}
